<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <!-- Navigation -->
  <%- include('layouts/navbar')-%>

  

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <h1>the page not found</h1>
    </div>
  </div>

  <hr>
  <!-- Footer -->
  <%- include('layouts/footer')-%>

  <!-- Bootstrap core JavaScript -->
  <%- include('layouts/scripts')-%>

</body>

</html>
